<div class="container espacamento-padrao">
  <div class="row">
    <div class="">
      <h2 class="members-text">Membros</h2>
    </div>
  </div>
</div>


<div class="container espacamento-padrao">
  <div class="carousel-members">
    <div><img src="http://kenwheeler.github.io/slick/img/lazyfonz2.png" alt="" /></div>
    <div><img src="http://kenwheeler.github.io/slick/img/lazyfonz2.png" alt="" /></div>
    <div><img src="http://kenwheeler.github.io/slick/img/lazyfonz2.png" alt="" /></div>
    <div><img src="http://kenwheeler.github.io/slick/img/lazyfonz2.png" alt="" /></div>
    <div><img src="http://kenwheeler.github.io/slick/img/lazyfonz2.png" alt="" /></div>
  </div>
</div>
