<%= stylesheet_link_tag 'members_section' %>

<div class="container">
  <div class="row">
    <div class="">
      <h1 id="membros-text">Membros</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="your-class">
    <div><img src="http://img.ibxk.com.br/2013/8/materias/1649968641515049.jpg?w=700&h=393&mode=crop" alt="" /></div>
    <div><img src="http://img.ibxk.com.br/2013/8/materias/1649968641515049.jpg?w=700&h=393&mode=crop" alt="" /></div>
    <div><img src="http://img.ibxk.com.br/2013/8/materias/1649968641515049.jpg?w=700&h=393&mode=crop" alt="" /></div>
  </div>

</div>
