<div class="container espacamento-padrao">
  <div class="row">
    <div class="">
      <h2 class="heading-text">Membros</h2>
    </div>
  </div>
</div>


<div class="members-box espacamento-padrao">
  <div class="carousel-members">
    <div><img class="img-responsive" src="members/Bruno_Helder.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Claudio_Segala.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Cristiane_Naves.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Gabriel_Almeida.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Renan_Reboredo.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Gabriel_Mesquita.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Mateus_Luiz.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Khalil_Carsten.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Vitor_Pontes.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Marcus_Vinicius.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Rafael_Fernandes.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Rebeca_Andrade.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Rodrigo_Chaves.png" alt="" /></div>
    <div><img class="img-responsive" src="members/Vinicius_Almeida.jpg" alt="" /></div>
    <div><img class="img-responsive" src="members/Wladimir_Gramacho.png" alt="" /></div>
  </div>
</div>
