<div class="container espacamento-padrao">
  <div class="row">
    <div class="">
      <h2 class="heading-text">Membros</h2>
    </div>
  </div>
</div>


<div class="members-box espacamento-padrao">
  <div class="carousel-members">
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Bruno_Helder.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Claudio_Segala.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Cristiane_Naves.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Gabriel_Almeida.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Renan_Reboredo.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Gabriel_Mesquita.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Mateus_Luiz.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Khalil_Carsten.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Vitor_Pontes.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Marcus_Vinicius.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Rafael_Fernandes.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Rebeca_Andrade.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Rodrigo_Chaves.png" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Vinicius_Almeida.jpg" alt="" /></div>
    <div><img class="img-responsive" src="https://serene-beyond-77153.herokuapp.com/members/Wladimir_Gramacho.png" alt="" /></div>
  </div>
</div>
