<div class="container espacamento-padrao">
  <div class="row">
    <div class="">
      <h1 id="membros-text">Membros</h1>
    </div>
  </div>
</div>


<div class="container espacamento-padrao">
  <div class="carousel-membros">
    <div><img src="http://kenwheeler.github.io/slick/img/lazyfonz2.png" alt="" /></div>
    <div><img src="http://kenwheeler.github.io/slick/img/lazyfonz2.png" alt="" /></div>
    <div><img src="http://kenwheeler.github.io/slick/img/lazyfonz2.png" alt="" /></div>
    <div><img src="http://kenwheeler.github.io/slick/img/lazyfonz2.png" alt="" /></div>
    <div><img src="http://kenwheeler.github.io/slick/img/lazyfonz2.png" alt="" /></div>
  </div>
</div>
