<%= stylesheet_link_tag 'projects' %>

<div class="container projects-section">
  <div class="row">
    <div class="">
      <h1 id="projetos-text">Projetos</h1>
    </div>
  </div>
</div>

<div class="container">
  <div id
  ="main-box">
    <div id="projetos-cjr" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#projetos-cjr" data-slide-to="0" class="active"></li>
        <li data-target="#projetos-cjr" data-slide-to="1"></li>
        <li data-target="#projetos-cjr" data-slide-to="2"></li>
        <li data-target="#projetos-cjr" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="https://d3k90kvix375hb.cloudfront.net/assets/heroku-og-cad174838a49b266550809e29026ec9bc18e056dae8f9cf523ea4237379691f9.png" alt="heroku">
        </div>

        <div class="item">
          <img src="https://d3k90kvix375hb.cloudfront.net/assets/heroku-og-cad174838a49b266550809e29026ec9bc18e056dae8f9cf523ea4237379691f9.png" alt="heroku">
        </div>

        <div class="item">
          <img src="https://d3k90kvix375hb.cloudfront.net/assets/heroku-og-cad174838a49b266550809e29026ec9bc18e056dae8f9cf523ea4237379691f9.png" alt="heroku">
        </div>

        <div class="item">
          <img src="https://d3k90kvix375hb.cloudfront.net/assets/heroku-og-cad174838a49b266550809e29026ec9bc18e056dae8f9cf523ea4237379691f9.png" alt="heroku">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#projetos-cjr" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#projetos-cjr" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
