<%= stylesheet_link_tag 'projects' %>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h1 id="projetos-text">Projetos</h1>
    </div>
  </div>
</div>

<div class="container">
  <div id
  ="main-box">
  <img src="https://d3k90kvix375hb.cloudfront.net/assets/heroku-og-cad174838a49b266550809e29026ec9bc18e056dae8f9cf523ea4237379691f9.png" alt="" class="img-responsive" />
  </div>
</div>
