
<div class="container espacamento-padrao">
  <div class="row">
      <h2 class="heading-text">Quem Somos</h2>
  </div>
</div>

<div class="container espacamento-padrao">
  <div class="row">
    <div class="col-md-6">
      <div class="image-text-box">
        <a href="#">
          <img src="<%= asset_path( 'who_we_are/cjr.png' ) %>" class="center-block img-responsive">
        </a>
        <p>
          O intuido da CJR é apresentar o empreendedorismo para os alunos de Computação e os preparar para o mercado de trabalho por meio de projetos reais.
        </p>
      </div>
      </div>
    <div class="col-md-6">
      <div class="image-text-box">
        <a href="http://www.concentro.org.br/">
          <img src="<%= asset_path( 'who_we_are/concentro.svg' ) %>"
          class="img-responsive center-block"/>
        </a>
        <p >
          A Concentro é reposável por orientar, regulamentar, fomentar, alinhar e integrar o Movimento Empresa Júnior, fortalecendo o empreendorismo no Distrito Federal.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="image-text-box">
        <a href="http://www.scrumguides.org/">
          <img src="<%= asset_path( 'who_we_are/scrum.png' ) %>" class="img-responsive center-block" />
        </a>
        <p >
          A CJR usa o Scrum como metodologia de desenvolvimento de software, procurando sempre manter seus processos ágeis a fim de beneficiar seus clientes.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-text-box">
        <a href="http://rubyonrails.org/">
          <img src="<%= asset_path( 'who_we_are/ruby.png' ) %>" class="img-responsive center-block" style="width: 24%;" />
        </a>
        <p >
          Para o desenvolvimento de sistemas, a CJR usa Ruby on Rails, um framework que simplifica desenvolvimento do software o deixando mais ágil, gerando custo-benefício para os clientes.
        </p>
      </div>
    </div>
  </div>

</div>
