
<div class="container espacamento-padrao">
  <div class="row">
      <h2 class="heading-text">Quem Somos</h2>
  </div>
</div>

<div class="container espacamento-padrao">
  <div class="row">
    <div class="col-md-6">
      <div class="image-text-box">
        <img src="<%= asset_path( 'cjr-logo.svg' ) %>" class="center-block img-responsive">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      </div>
    <div class="col-md-6">
      <div class="image-text-box">
        <img src="<%= asset_path( 'cjr-logo.svg' ) %>"
        class="img-responsive center-block custom-img"/>
        <p class="custom-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="image-text-box">
        <img src="<%= asset_path( 'cjr-logo.svg' ) %>" class="img-responsive center-block custom-img" />
        <p class="custom-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-text-box">
        <img src="<%= asset_path( 'cjr-logo.svg' ) %>" class="img-responsive center-block custom-img" />
        <p class="custom-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>

</div>
