<section id="membros" class="container">
  <h2 class="titulo-section">Membros</h2>
  <div class="box-texto col-xs-12 col-md-10">
    <p>Texto de impacto da CJR nos membros </p>
    <% (1..5).each do |n| %>
      <p><%= n %></p>
    <% end %>
  </div>

  <!-- Arrumar o carrossel e colocar aqui -->

</section>
