// Section Home
#home {
    background: url(welcome.svg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-device-width: 500px){
  #nav-topo {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    ul {
      padding: 20px 0px 0px 0px;
      text-align: center;
      li {
        display: inline;
        margin-right: 20px;
        a {
          color: white;
          font-weight: normal;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (min-device-width: 500px){
  #nav-topo {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    ul {
      list-style-type: none;
      padding-top: 20px;
      li {
        display: inline;
        margin-right: 20px;
        a {
          color: white;
          font-weight: normal;
          text-decoration: none;
        }
      }
    }
  }
}

#nav-topo > ul > li > a:hover {
    color: #999;
}

#header-texto {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: bold;
}

#header-titulo {
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
}

#texto-imagem-row {
  padding-top: 40px;
}

.header-box {
    margin: 60px 0px 0px 40px;
    padding: 0px 25px;
}


.logo {
    margin-top: 40px;
}

.ponto-pequeno {
    font-size: 15px;
}

.conteudo-centralizado {
    width: 100%;
    margin: 0 auto;
}
