.members-text {
  color: $cjrblue;
  border-color: $cjrblue;
  border-bottom-style: solid;
  border-bottom-width: thick;
  box-sizing: border-box;
}

.slick-prev:before, .slick-next:before {
    color: $cjrblue;
    font-size: 40px;
}

.carousel-members img {
  margin-left: 80px;
  border-style: solid;
  border-width: thin;
  border-color: $gray;
}
