#membros-text {
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  font-size: 45px;
  color: #2e4d94;
  border-color: #2e4d94;
  border-bottom-style: solid;
  border-bottom-width: thick;
  box-sizing: border-box;
}

.slick-prev:before, .slick-next:before {
    color: #B3B3B3;

}

.carousel-membros img {
  margin-left: 80px;
  border-style: solid;
  border-width: thin;
  border-color: #B3B3B3;
}
