#membros-text {
  font-weight: bold;
  font-size: 45px;
  color: #86C863;
  border-color: #86C863;
  border-bottom-style: solid;
  border-bottom-width: thick;
  box-sizing: border-box;
}

.slick-prev:before, .slick-next:before {
    color:#86C863;
}

.carousel-membros img {
  margin-left: 80px;
}

.membros-section {
  margin-top: 50px;
}
