// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-indicators li {
  background-color: $cjrgreen;
  border-color: $cjrgreen;
}

.carousel-indicators .active{
  background-color: $cjrgreen;
  border-color: $cjrgreen;
}

.projects-section {
  margin-top: 50px;
}

// .heading-text {
//   color: $cjrgreen;
//   border-color: $cjrgreen;
// }

.carousel-box {
  margin-top: 50px;
  width: 100%;
  border-color: $cjrgreen;
  border-style: solid;
  border-width: 10px;
}
