// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

@media screen and (min-device-width: 500px){
  .carousel-inner img {
    width: 100%;
  }

}

@media screen and (max-device-width: 500px){

  .carousel-inner img {
    width: 100%;
  }

}

.carousel-indicators li {
  background-color: $cjrgreen;
  border-color: $cjrgreen;
}

.carousel-indicators .active{
  background-color: $cjrgreen;
  border-color: $cjrgreen;
}

.projects-section {
  margin-top: 50px;
}

.carousel-box {
  border-color: $cjrgreen;
  border-style: solid;
  border-width: 10px;
}
