#quem-somos-text {
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  font-size: 45px;
  color: #2e4d94;
  border-color: #2e4d94;
  border-bottom-style: solid;
  border-bottom-width: thick;
  box-sizing: border-box;
}

.custom-text {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #2e4d94;
}

.custom-img {
  width: 30%;
}

.quem-somos-section {
  margin-top: 50px;
}
