<%= stylesheet_link_tag 'who_we_are' %>

<div class="container">
  <div class="row">
    <h1>Quem Somos</h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-6">
        <img src="https://avatars3.githubusercontent.com/u/14567119?v=3&s=200" class="img-reponsive center-block" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    <div class="col-md-6">
      <h1>oi</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h1>oi</h1>
    </div>
    <div class="col-md-6">
      <h1>oi</h1>
    </div>
  </div>

</div>
